<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define the global log level -->
  <targets>
    <!-- Create a target for logging into files with a timestamp in the filename -->
    <target xsi:type="File" name="fileLogger" 
            fileName="logs/logfile_${shortdate}_${processid}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Send all logs to fileLogger target -->
    <logger name="*" minlevel="Info" writeTo="fileLogger" />
  </rules>
</nlog>
